<!DOCTYPE html>
<html>
<head>
  <title>TNY</title>
  <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="display">
  <table>
    <tr>
      <td class="bold">Original URL</td>
      <td><%= original_url %></td>
    </tr>
    <tr>
      <td class="bold">"Shortened" URL</td>
      <td><%= shortened_url %></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="/">'Shorten' another URL</a></td>
    </tr>
  </table>
</div>
</body>
</html>