html {
    font-family: 'Lucida Grande';
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.input {
    font-weight: 600;
    margin-top: 20%;
    width: 27em;
    font-size: .8em;
    padding: 0.3em;
    border-color: black;
    border-width: .3em;
}

.button {
    margin-top: 1em;
    color: #fff;
    font-size: .8em;
    height: 3em;
    width: 5.9em;
    background-color: #5770FF;
    border-color: black;
    border-width: 0.3em;
    -moz-box-shadow:    .3em .3em 0em 0em #000;
    -webkit-box-shadow: .3em .3em 0em 0em #000;
    box-shadow:         .3em .3em 0em 0em #000;
}

.display {
    margin: auto;
    margin-top: 15%;
    width: 600px;
    text-align: left;
}

td {
    padding: 15px;
}

.bold {
    font-weight: 600;
}